/* font-family: hwt-slab-antique, serif;
font-weight: 400;
font-style: normal;

font-family: hwt-slab-columbian, serif;
font-weight: 400;
font-style: normal; */

:root {
	/* fonts */
	--ff-primary: multi-display, sans-serif;
	--ff-accent: bovine-mvb, sans-serif;
	--fs-200: 0.875rem;
	--fs-300: 1rem;
	--fs-400: 0.935rem;
	--fs-500: 1rem;
	--fs-600: 1rem;
	--fs-700: 4rem;

	--fs-750: clamp(4rem, 5vw + 1rem, 4.9rem);
	--fs-800: 6rem;
	--fs-850: clamp(3rem, 5.2vw + 1rem, 6.5rem);
	--fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
	--fs-950: clamp(6.3rem, 8vw + 1rem, 9.375rem);

	/* colors */
	--clr-primary: 9, 61%, 59%;
	--clr-accent: 218, 51%, 28%;
	--clr-neutral: 0, 100%, 100%;
}

/* * {
	outline: 2px solid brown;
} */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}
ul,
ol {
	padding-inline-start: 0;
	list-style: none;
	margin-block-start: 0;
	margin-block-end: 0;
}
a:not([class]) {
	text-decoration-skip-ink: auto;
}
img {
	max-width: 100%;
	display: block;
}
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ----------------- */
/* Utility classes   */
/* ----------------- */

/* accessibility     */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

/* ----------------- */

/* colors            */
.bg-primary {
	background-color: hsl(var(--clr-primary));
}
.bg-accent {
	background-color: hsl(var(--clr-accent));
}
.bg-accent20 {
	background-color: hsl(var(--clr-accent) / 0.2);
}
.bg-neutral {
	background-color: hsl(var(--clr-neutral));
}

.text-primary {
	color: hsl(var(--clr-primary));
}
.text-accent {
	color: hsl(var(--clr-accent));
}
.text-neutral {
	color: hsl(var(--clr-neutral));
}
/* ----------------- */

/* fonts             */
.ff-primary {
	font-family: var(--ff-primary);
}
.ff-accent {
	font-family: var(--ff-accent);
}

.uppercase {
	text-transform: uppercase;
}
.fs-200 {
	font-size: var(--fs-200);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-750 {
	font-size: var(--fs-750);
}
.fs-800 {
	font-size: var(--fs-800);
}

.fs-850 {
	font-size: var(--fs-850);
}

.fs-900 {
	font-size: var(--fs-900);
}
.fs-950 {
	font-size: var(--fs-950);
}

.fs-600,
.fs-700,
.fs-800,
.fs-900 {
	line-height: 1.1;
}

.letter-spacing-3 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-1 {
	letter-spacing: 2.35px;
}
/* ----------------- */

/* layout */
.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}
.d-block {
	display: block;
}



/* ----------------- */
/* General styling   */
/* ----------------- */
body {
	font-family: var(--ff-primary);
}

main {
	padding: 1rem;
}

header li {
	align-items: center;
}

header img {
	width: 1.5rem;
}
header a {
text-decoration: none;
color: #000000;
}

.container {
	place-items: center;
	text-align: center;
	grid-template-areas:
	"header"
	"photo"
	"hero"
	"formations"
	"skills"
	"experiences"
	"hobbies"
	"languages";
}

header {
	grid-area: header;
}
.card {
	grid-area: photo;
	width: 50%;
}

.formations {
	grid-area: formations;
}

.skills {
	grid-area: skills;
}

.experiences {
	grid-area: experiences;
}
.hobbies {
	grid-area: hobbies;
}
aside {
	grid-area: languages;
}

section > ul * {
	text-align: left;
}

.formation__header, .experience__header {
	display: flex;
	justify-content: space-between;
}

.formation__header-title, .formation__header-company {
	color: hsl(var(--clr-primary));
	font-weight: 700;
}

@media screen and (min-width:768px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 
		"header header"
		"hero photo"
		"formations formations"
		"skills languages"
		"experiences hobbies";
	}
}


































/* h3 {
	text-transform: uppercase;
	font-size: var(--fs-600);
	letter-spacing: 1.2px;
	font-weight: 400;
}


.hero {
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		" job card"
		" intro card ";
}
.job {
	grid-area: job;
	padding: 2rem 0;
	position: relative;
}
.job::before {
	content: "";
	display: block;
	width: 110%;
	height: 100%;
	background: hsl(var(--clr-accent));
	position: absolute;
	top: 0;
	transform: translateX(-3rem);

	border-radius: 1rem;
	z-index: -1;
}

.card {
	grid-area: card;

}

.intro {
	grid-area: intro;
} */



/* ---------------------- */
/* .card {
	position: relative;
	width: 400px;
	height: 400px;
	background: hsl(var(--clr-primary));
	border-radius: 1em;
}

.card__img {
	width: 100%;
	position: absolute;
	top: 60%;
	left: 70%;
	transform: translate(-50%, -50%);
	object-fit: cover;
} */

